@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  font-size: 15px;
  font-family: Poppins, sans-serif;
  color: #555555;
}

.header_1 {
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #67666c;
}

.header_2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.header_3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #c4c4c4;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#header {
  text-align: center;
  margin-top: 98px;
  margin-bottom: 76px;
}
#header p {
  max-width: 500px;
}

.box {
  margin: 25px 30px 25px 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px gray;
  border-top-style: solid;
  border-top-width: 5px;
}

.cards {
  margin-bottom: 5em;
}

.container {
  margin: 0 2em;
}

.box p {
  color: gray;
}

.col:first-of-type .box {
  border-top-color: cyan;
  display: inline-block;
  position: relative;
  left: 250px;
  top: 200px;
}

.col:nth-of-type(2) .box:first-of-type {
  border-top-color: red;
  display: inline-block;
  position: relative;
  left: 65px;
}

.col:nth-of-type(3) .box:first-of-type {
  border-top-color: blue;
  display: inline-block;
  position: relative;
  top: 200px;
  right: 85px;
}

.col:nth-of-type(4) .box:first-of-type {
  border-top-color: orange;
  display: inline-block;
  position: relative;
  bottom: 20px;
  left: 600px;
}

img {
  float: right;
  margin-top: 45px;
}

@media only screen and (min-width: 1280px) {
  .col {
    width: 33.1%;
    display: inline-block;
    vertical-align: middle;
  }

  .box {
    margin: 30px 15px;
  }
}
